{% extends "dashboard/base.html" %}

{% block extrahead %}
  {% load static from staticfiles %}
  <script type="text/javascript" src="{% static "dashboard.js" %}"></script>
{% endblock %}

{% block content %}
  {% for report in data %}
    {% ifchanged report.metric.category %}
      {% if report.metric.category %}<h2>{{ report.metric.category }}</h2>{% endif %}
    {% endifchanged %}
    <div class="metric{% if report.metric.show_sparkline %} has-sparkline{% endif %}">
      <h3><a href="{{ report.metric.link }}">{{ report.metric.name }}</a></h3>
      <p class="value" >
        <a href="{{ report.metric.link }}">{{ report.latest.measurement }}{% if report.metric.unit == "%" %}%{% endif %}</a>
        <span class="timestamp">&nbsp;</span>
      </p>
      {% if report.metric.show_sparkline %}
        <div class="sparkline" id="spark{{ forloop.counter0 }}" data-metric="{{ report.metric.slug }}"></div>
      {% endif %}
    </div>
  {% endfor %}
  <p class="updated">
    Updated {{ data.0.latest.timestamp|timesince }} ago.
  </p>
{% endblock %}
