{% extends "dashboard/base.html" %}

{% block content %}
  {% for report in data %}
    <div class="metric{% if report.metric.show_sparkline %} has-sparkline{% endif %}">
      <h2><a href="{{ report.latest.metric.link }}">{{ report.latest.metric.name }}</a></h2>
      <p class="value" >
        <a href="{{ report.latest.metric.link }}">{{ report.latest.measurement }}</a>
        <span class="timestamp">&nbsp;</span>
      </p>
      {% if report.metric.show_sparkline %}
        <div class="sparkline" id="spark{{ forloop.counter0 }}" data-metric="{{ report.metric.id }}"></div>
      {% endif %}
    </div>
  {% endfor %}
  <p class="updated">
    Updated {{ data.0.latest.timestamp|timesince }} ago.
  </p>
{% endblock %}